-
  var cardJSList = [
    {
      title: "Your First Week With Node.js",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/your-first-week-with-node-js/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/your-first-week-with-node-js/read",
      opened: true,
      blurb: "Used by some of the biggest companies today, Node is blazingly fast. Taking JavaScript, a ubiquitous language among developers, we'll get you up and running with guides on when to use Node, NPM, Security, as well as connecting with MySQL, MongoDB and more.",
      rating: 9.2
    }, {
      title: "Practical ES6",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/practical-es6/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/practical-es6/read",
      opened: true,
      blurb: "Gain the most valuable updates and skills for working with JavaScript today. We'll cover new keywords, map collections, array, string and number methods, arrow functions and a whole host of other practical lessons to build with ES6.",
      rating: 9.7
    }, {
      title: "JavaScript: Best Practice",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/javascript-best-practice/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/javascript-best-practice/read",
      blurb: "Write powerful, clean and maintainable JavaScript with clear, practical lessons in application architecture, package management, tools, shorthands, callbacks, classes, flow control and much more.",
      rating: 9.7
    }, {
      title: "JavaScript: Novice to Ninja, 2nd Edition",
      imgcover: "https://d2sis3lil8ndrq.cloudfront.net/books/74438137-2459-4bc9-b9e3-c163ccbe5e4b.png",
      link: "http://sitepoint.com",
      blurb: "This step-by-step introduction to coding in JavaScript will show you how to to solve real-world problems, design eye-catching animations, build smarter forms, and develop richer applications.",
      rating: 4.5
    }
  ];


  var cardHTMLList = [
    {
      title: "HTML5 Games: Novice to Ninja",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/html5-games-novice-to-ninja/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/html5-games-novice-to-ninja/read",
      opened: true,
      blurb: "Create impressive and engaging, cross-platform games from scratch. You'll learn how to dissect the elements that make successful games and develop practical skills in game design, loops and user input, animation, maps, collision detection and AI, mathematics, game physics, and much, much more.",
      rating: 9.2
    }, {
      title: "Jump Start Responsive Web Design, 2nd Edition",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/jump-start-responsive-web-design-2nd-edition/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/jump-start-responsive-web-design-2nd-edition/read",
      blurb: "Gone are the days of a static-layout web. We'll introduce you to the building blocks of responsive design capable of fantastic visuals across various devices. Go deep into grid systems, queries, responsive text, images and video to build websites and apps that respond to user input.",
      rating: 9.7
    }, {
      title: "HTML5 & CSS3 for the Real World: 2nd Edition",
      imgcover: "https://rawcdn.githack.com/sitepoint/Complete-Cover-Archive/83120d135fb504920694ded808b4828515ac8959/html5css3/cover-html5-css1-hires-cover.png",
      link: "https://www.sitepoint.com/premium/books/html5-css3-for-the-real-world-2nd-edition",
      blurb: "This easy-to-follow guide covers everything you need to get started. You’ll master the semantic markup available in HTML5, and discover how to use CSS3 to create amazing-looking websites without resorting to complex workarounds.",
      rating: 9.7
    }, {

      title: "Responsive Web Design the Right Way",
      imgcover: "https://d2sis3lil8ndrq.cloudfront.net/books/c3999548-a3d8-4469-a1ec-a008702927c6.png",
      link: "https://www.sitepoint.com/premium/books/responsive-web-design-the-right-way",
      blurb: "In this short book, we’ll teach you the basics of responsive web design: a practical, proven way to design sites that’ll look great on all screens and devices, via a practical project: designing a newsletter opt-in screen using the macOS tool InVision Studio.",
      rating: 4.5
    }
  ];

  var cardCSSList = [
    {
      title: "CSS Master, 2nd Edition",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/css-master-2nd-edition/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/css-master-2nd-edition/read",
      opened: true,
      blurb: "Keep ahead of the game by employing the most effective, cutting-edge CSS techniques. Create efficient, maintainable code, employ advanced layouts, and design innovative visuals with powerful effects, transitions, filters, SVGs, and animations.",
      rating: 4.7
    }, {
      title: "Design Trends and Inspiration",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/design-trends-and-inspiration/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/design-trends-and-inspiration/read",
      blurb: "Improve your effectiveness through design by avoiding common design mistakes, discovering the latest in mobile app, website and email design, and optimising UX for mobile and desktop.",
      rating: 4.7
    }, {
      title: "Modern CSS",
      imgcover: "https://d2sis3lil8ndrq.cloudfront.net/books/eacf6980-2f5e-4367-9729-9dfee3c25e3b_medium.png",
      link: "https://www.sitepoint.com/premium/books/modern-css/read",
      blurb: "Explore some of the amazing things that developers can do with CSS today. Exciting topics like transitions, variable fonts, scroll and snap, SVGs, building native-like PWAs, CSS theming, optimisation and more.",
      rating: 4.1
    }, {
      title: "CSS Grid Layout: 5 Practical Projects",
      imgcover: "https://d2sis3lil8ndrq.cloudfront.net/books/e8810115-ac88-48d3-a611-773ed3984ce9_medium.png",
      link: "https://www.sitepoint.com/premium/books/css-grid-layout-5-practical-projects/read",
      blurb: "Make websites look beautiful on any device and overcome complex grid layouts. In five projects we'll cover flexbox, float, grid, nesting, building forms and more.",
      rating: 4.5
    }
  ];

  var cardBootstrapList = [
    {
      title: "Your First Week With Bootstrap",
      imgcover: "https://d2sis3lil8ndrq.cloudfront.net/books/9af70f7c-cdc8-4f75-b8a4-2478ed7480f9.png",
      link: "https://www.sitepoint.com/premium/books/your-first-week-with-bootstrap/read",
      opened: true,
      blurb: "Bootstrap stands as one of the most popular, open-source, front-end frameworks on the Web. In this book we’ll take you through Bootstrap basics, introduce you to its major features, and get you building your first Bootstrap sites.",
      rating: 9.2
    }, {
      title: "Build Your Own Website with Bootstrap 4",
      imgcover: "https://d2sis3lil8ndrq.cloudfront.net/books/2231e89b-8fd7-4fec-8546-95e17239e312_medium.png",
      link: "https://www.sitepoint.com/premium/books/practical-es6/read",
      blurb: "Gain the most valuable updates and skills for working with JavaScript today. We'll cover new keywords, map collections, array, string and number methods, arrow functions and a whole host of other practical lessons to build with ES6.",
      rating: 9.7
    }, {
      title: "Bootstrap: Related Tools & Skills",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/bootstrap-related-tools-skills/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/bootstrap-related-tools-skills/read",
      blurb: "Since its launch in 2011, a rich and diverse ecosystem has grown up around the core Bootstrap framework. In this book, we’ll look at Bootstrap tools and playgrounds, Grid systems, Bootstrap UI libraries for React, Angular, and Vue, Sass installation and much more.",
      rating: 9.7
    }, {
      title: "8 Practical Bootstrap Projects",
      imgcover: "https://s3.amazonaws.com/learnable-static/premium/reeedr/books/8-practical-bootstrap-projects/images/cover-front.png",
      link: "https://www.sitepoint.com/premium/books/8-practical-bootstrap-projects/read",
      blurb: "Think Bootstrap is just for garden-variety web layouts? Think again. It's time to spice up your Bootstrap frontends with CSS3 animations, GSAP-powered Carousels, fresh Tumblr Themes and much more.",
      rating: 4.5
    }
  ];


section.bodycontent
      .container
        .device



        mixin book-card(card)
          .col
            .card
              a(href= card.link)
                figure(class=typeof card.opened === "undefined" ? "" : "opened")
                  .frame
                    img.cover(src= card.imgcover)
                    span(class=typeof card.opened === "undefined" ? "" : "opened") 
                  figcaption= card.title
                span.toggler    
                  input(type="checkbox" unchecked)
        
        mixin expanded-card(card)
          .grid
            .col-12.expanded
              .grid-noGutter
                .col-8_md-12
                  .wrapper
                    h3= card.title
                    p.minor= card.blurb 
                    table.specs
                      tbody.minor
                        tr
                          td February 2018
                          td 
                            a(href="#") Github Code Archive
                        tr
                          td 460 Pages
                          td 5585 Happy Readers
                .col-4_md-12_sm-hidden.expanded-comment.-equalHeight 
                  .wrapper
                    h4 User Comments:
                    p.minor Earle is a very entertaining writer and this book sets useful, fun goals and delivers them in attainable ways. Sure, there's some JavaScript to learn, but it should be within the grasp of most practical-minded people.


        .grid
          .col-12
            h4 JavaScript
        .grid-4_md-2
          for card in cardJSList
            +book-card(card)

          for card in cardJSList
            +expanded-card(card)

        //include expanded.pug 



        .grid
          .col-12
            h4 HTML
        .grid-4_md-2
          for card in cardHTMLList
            +book-card(card)

          for card in cardHTMLList
            +expanded-card(card)

        .grid
          .col-12
            h4 CSS
        .grid-4_md-2
          for card in cardCSSList
            +book-card(card)

          for card in cardCSSList
            +expanded-card(card)

        .grid
          .col-12
            h4 Bootstrap
        .grid-4_md-2
          for card in cardBootstrapList
            +book-card(card)

          for card in cardBootstrapList
            +expanded-card(card)