.
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" viewBox="0 0 938 586">
        <defs>
            <style>
                @import url(&quot;https://fonts.googleapis.com/css2?family=Roboto+Mono&amp;family=Roboto:wght@300;500;700&amp;display=swap&quot;);

                text {
                    font-family: "Roboto", sans-serif;
                }

                #code-window text {
                    font-family: "Roboto Mono", monospace;
                }
                .hide {
                    clip-path: url(#show-nothing);
                }
                .show {
                    clip-path: url(#screen-mask);
                }
                .keys rect {
                    rx: 2;
                }
                .note text{
                    font-weight: 500;
                }
                /* DEFAULTS */
                .shadow {
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
                .page-wrapper,
                .bookmark {
                    transition: all 1s ease-in-out;
                }

                #code-panel-pos {
                    transform: matrix(0.9, 0, 0, 0.9, 710, 47);
                }

                .cursor {
                    transition: all 1s cubic-bezier(.21,0,.25,1);
                }
                .touchzone{
                    cursor:pointer;
                }
                .reveal {
                    opacity: 0;
                }
                .bookmark-section-2, .bookmark-section-3{
                    background: rgba(255,255,255,0);
                }
                #live-code-tab-open{
                    display: none;
                }
                /* DEMO STATE TRIGGERED */
                .demo-1 .cursor {
                    transform: translate(450px, -120px);
                    
                }
                .demo-1 #code-panel-pos {
                    transform: matrix(0.9, 0, 0, 0.9, 180, 47);
                    transition-delay: 1s;
                }
                .demo-1 #live-code-tab-open{
                    display: block;
                    cursor: pointer;
                }
                .demo-2 .cursor {
                    transform: translate(-80px, 120px);
                }
                .demo-2 foreignObject .page-wrapper {
                    margin-top: -3400px;
                }
                .demo-2 foreignObject .bookmark-section-2 {
                    background: #faffc8;
                    transition-delay: 1s;
                }
                .reset{display: none}
                .demo-3 .cursor {
                    transform: translate(-41px, -153px);
                }
                .demo-3 foreignObject .page-wrapper {
                    margin-top: -2650px ;
                }
                .demo-3 foreignObject .bookmark-section-3 {
                    background: #faffc8;
                    transition-delay: 1s;
                }
                
                


                /* ###  STAGED TRANSITIONS  ### */
                .arrive-1,
                .arrive-2,
                .arrive-3,
                .arrive-4 {
                    pointer-events: none;
                    transition: all 1s ease-in-out;
                    transition-delay: 0s;
                }

                .demo-1 .stage-1 .reveal,
                .demo-2 .stage-2 .reveal,
                .demo-3 .stage-3 .reveal,
                .demo-4 .stage-4 .reveal {
                    opacity: 1;
                }

                .demo-1 .stage-1 .arrive-2,
                .demo-2 .stage-2 .arrive-2,
                .demo-3 .stage-3 .arrive-2,
                .demo-4 .stage-4 .arrive-2 {
                    transition-delay: 1s;
                    animation-delay: 1;
                }

                .demo-1 .stage-1 .arrive-3,
                .demo-2 .stage-2 .arrive-3,
                .demo-3 .stage-3 .arrive-3,
                .demo-4 .stage-4 .arrive-3 {
                    transition-delay: 2s;
                    animation-delay: 2s;
                }

                .demo-1 .stage-1 .arrive-4,
                .demo-2 .stage-2 .arrive-4,
                .demo-3 .stage-3 .arrive-4,
                .demo-4 .stage-4 .arrive-4 {
                    transition-delay: 3s;
                    animation-delay: 3s;
                }

                /* ### DEMO BACKGROUND ### */
                /* ### Switch button controls ### */
                .demo-1 .kaboom,
                .demo-2 .kaboom,
                .demo-3 .kaboom,
                .demo-4 .kaboom {
                    animation: none;
                }

                .demo-1 .stage-1 .kaboom,
                .demo-2 .stage-2 .kaboom,
                .demo-3 .stage-3 .kaboom,
                .demo-4 .stage-4 .kaboom {
                    animation: boom 1.2s linear 3;
                    animation-delay: 3.2s;
                }

                @keyframes boom {/*  Pulsing pointer */
                    0% {
                    stroke-width: 0px;
                    stroke-opacity: 1;
                    }
                    90% {
                    stroke-width: 30px;
                    stroke-opacity: 0;
                    }
                    100% {
                    stroke-opacity: 0;
                    }
                }
                #cursor-click .plick{
                    transition: none;
                }
                .demo-1 #cursor-click .plick,
                .demo-2 #cursor-click .plick,
                .demo-3 #cursor-click .plick,
                .demo-4 #cursor-click .plick{
                    transform: translate(-120px, 0px);
                    transition: transform .3s steps(3);
                    transition-delay: .8s;
                }

                /* EMBEDDED CSS */ 

                    #chapter-container {
                        line-height: 1.778em;
                        color: #222;
                        font-family: Roboto, "Trebuchet MS", sans-serif;
                        margin: 4em 3em 3em;
                        font-size: 16px;
                        
                    }
                              
                    .demo-4 foreignObject {
                        background:#222;
                        color: #eee;
                        transition: all 1s;
                    
                    }

                    .page-wrapper{
                        left: 0rem;
                        width: 90%;
                        margin: 0 5%;
                        position: absolute;
  
                    }
                    .chapter-head-left {
                        width: 70%;
                        float: left;
                        text-align: right;
                        position: relative;
                    }
                    .chapter-head-left .h3-level {
                        margin-top: 0.5em;
                    } 
                    .chapter-head-left:before {
                        display: block;
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 100%;
                        top: 0;
                        right: -3em;
                        border-left: 1px #999 solid;
                    }
                    .chapter-head-right {
                        padding-top: 1em;
                        width: 30%;
                        float: right;
                        text-align: center;
                    }
                    .chapter-content {
                        margin-bottom: 2em;
                    }
                    

                    .h1-level {
                        font-size: 2.25em;
                        margin: 0.5em 0 0;
                        line-height: 1.2em;
                    }

                    .h2-level {
                        margin: 1.5em 0 1em;
                        font-size: 2em;
                    }

                    .h3-level {
                        font-weight: 400;
                        font-size: 1.5em;
                        margin: 2em 0 1em;
                    }

                    .h4-level {
                        font-weight: 400;
                        font-size: 1.2em;
                        margin: 2em 0 1.78em;
                    }

                    .p-unit {
                        font-weight: 300;
                        line-height: 1.778em;
                        font-family: Roboto, "Trebuchet MS", sans-serif;
                        font-size: 16px;
                        margin-bottom: 1.78em;
                    }

                    .svg-li .p-unit {
                        margin-bottom: 0.89em;
                        font-size: 16px;
                    }
                    .svg-code {
                        font-family: Monaco, "Courier New", Courier, monospace;
                        font-size: 0.9em;
                        padding: 0.2em 0.2em;
                        background: #f5f2f0;
                        color: #222;
                    }
                    .prism-code {
                        padding: 0.9em;
                        color: rgb(0, 0, 0);
                        background-color: rgb(245, 242, 240);
                        font-size: 15px;
                    }
             pre .keyword{color: rgb(178, 151, 98);}
             pre .operator{ color: rgb(6, 50, 137);}
             pre .token-line{color: rgb(0, 0, 0);}
             pre .plain{color: rgb(0, 0, 0);}
             pre .string{color: rgb(102, 153, 0);}
             pre .punctuation{color: rgb(153, 153, 153)}
             pre .number{color: rgb(6, 50, 137);}

             /* DARK MODE SWITCH  */
             .demo-4 .h1-level,
             .demo-4 .h2-level,
             .demo-4 .h3-level,
             .demo-4 .h4-level,
             .demo-4 figcaption,
             .demo-4 table,
             .demo-4 .chapter-head-right,
             .demo-4 .p-unit{color: #eee;}
             .demo-4 .svg-code{background-color: #345;color: #eee;}
             .demo-4 .prism-code{background-color: #345; color: #eee;}
             .demo-4 pre .token-line{color: #eee;}
             .demo-4 pre .keyword{color: rgb(154, 134, 253);}
             .demo-4 pre .operator{color: rgb(103, 205, 204);}
             
             .demo-4 pre .plain{color: #eee;}
             .demo-4 pre .string{ color: rgb(102, 153, 0);}
             .demo-4 pre .punctuation{color: rgb(153, 153, 153)}
             .demo-4 pre .number{color: rgb(6, 50, 137);}
                    table {
                        margin: 1em 0 1.5em;
                    }
                    .p-label {
                        fill: black;
                        white-space: pre;
                        font-family: Halant, serif;
                        font-size: 21px;
                    }
                    figure {
                        margin: 1em 0;
                    }
                    figcaption {
                        font-style: italic;
                        color: #666;
                    }
            </style>

            <!-- CLIP-PATHS -->

            <clipPath id="screen-mask">
                <rect fill="#fff" width="820" height="525" x="60" y="20" />
            </clipPath>

            <clipPath id="show-nothing">
                <!--show nothing -->
            </clipPath>

            <clipPath id="clip0">
                <rect width="761" height="710" fill="#fff" />
            </clipPath>
            <!-- / CLIP-PATHS -->
        
        
            <!-- GRADIENTS -->

            <linearGradient id="color-2">
                <stop style="stop-color:#ffcb00" />
            </linearGradient>
            <linearGradient id="color-3">
                <stop style="stop-color:#52a4da" />
            </linearGradient>
            <linearGradient id="color-4">
                <stop style="stop-color:#a68bdf" />
            </linearGradient>
            <linearGradient id="color-1">
                <stop style="stop-color:#86cd95" />
            </linearGradient>
            <linearGradient id="color-5">
                <stop style="stop-color:#8f8f8f" />
            </linearGradient>

            <linearGradient id="laptop-edge" x1="356.1" x2="669" y1="-69.3" y2="728.8"
                gradientTransform="matrix(1 0 0 1 0 0)" gradientUnits="userSpaceOnUse">
                <stop stop-color="#E5E5E5" />
                <stop offset=".2" stop-color="#D5D5D5" />
                <stop offset=".8" stop-color="#C4C4C4" />
                <stop offset="1" stop-color="#4F4F4F" />
            </linearGradient>

            <linearGradient id="upperbase" x1="469" x2="469" y1="565" y2="576" gradientUnits="userSpaceOnUse">
                <stop stop-color="#fff" />
                <stop offset="1" stop-color="#E5E5E5" />
            </linearGradient>

            <linearGradient id="cutout-1" x1="390.5" x2="551" y1="581" y2="581" gradientTransform="translate(.3 -2)"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#333" stop-opacity=".4" />
                <stop offset=".2" stop-color="#333" stop-opacity="0" />
                <stop offset=".8" stop-color="#333" stop-opacity=".1" />
                <stop offset="1" stop-opacity=".2" />
            </linearGradient>

            <linearGradient id="cutout-2" x1="469" x2="469" y1="567" y2="581"
                gradientTransform="matrix(1 -.00719 .00476 .66295 -2.1 191.8)" gradientUnits="userSpaceOnUse">
                <stop style="stop-opacity:.39;stop-color:rgba(51,51,51,.92)" />
                <stop offset="1" style="stop-opacity:0;stop-color:rgba(51,51,51,.03)" />
            </linearGradient>

            <linearGradient id="gradient-2" x1="390.5" x2="551" y1="581" y2="581" gradientTransform="translate(73.6 2.5)"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#333" stop-opacity=".4" />
                <stop offset=".2" stop-color="#333" stop-opacity="0" />
                <stop offset=".8" stop-color="#333" stop-opacity=".1" />
                <stop offset="1" stop-opacity=".2" />
            </linearGradient>
        
            <!-- SYMBOLS -->
        
            <symbol id="globe-icon" viewBox="0 0 14 14">
                <path d="M7 13a6 6 0 01-5.7-4.2M7 13a6 6 0 005.7-4.2M7 13c1.8 0 2.8-2.7 2.8-6S8.8 1 7 1m0 12c-1.8 0-2.8-2.7-2.8-6s1-6 2.8-6m0 0a6 6 0 015.7 4.2M7 1a6 6 0 00-5.7 4.2m11.4 0a6 6 0 010 3.6m0-3.6H1.3m0 0a6 6 0 000 3.6m0 0h11.4"/>
            </symbol>

            <symbol id="folder-closed" viewBox="0 0 15 12">
                <path  fill="#C4C4C4"
                        d="M108 62c0-.6.4-1 1-1h4.4c.4 0 .7.2.9.6l.4.8c.2.4.5.6 1 .6h6.3c.6 0 1 .4 1 1v8c0 .6-.4 1-1 1h-13a1 1 0 01-1-1V62z"
                        transform="translate(-108 -61)" />
            </symbol>

            <symbol id="folder-open" viewBox="0 0 17.1 12">
                    <g id="folder-icon" fill="#C4C4C4" transform="translate(-90 -38)">
                        <path
                            d="M90 40c0-1.1.9-2 2-2h4.4c.4 0 .7.2.9.6l.4.8c.2.4.5.6 1 .6h3.3a2 2 0 012 2v1H93.5a1 1 0 00-.8.4l-2.7 4V40z" />
                        <path
                            d="M94.5 44a1 1 0 00-.8.4l-2.7 4A1 1 0 0092 50h11.6c.3 0 .6-.2.8-.4l2.7-4a1 1 0 00-.9-1.6H94.5z" />
                    </g>
                </symbol>

            <symbol id="close" viewBox="0 0 7.6 7.6">
                    <path fill="#CFCFCF"
                        d="M400.4 17.1l-1-1-2.8 2.8-2.8-2.8-1 1 2.8 2.8-2.8 2.8 1 1 2.8-2.8 2.8 2.8 1-1-2.8-2.8 2.8-2.8z"
                        transform="translate(-392.8 -16.1)" />
            </symbol>

            <symbol id="new-item" viewBox="0 0 13 13">
                    <path fill="#CFCFCF" d="M466.5 401h-2v5.5H459v2h5.5v5.5h2v-5.5h5.5v-2h-5.5V401z"
                        transform="translate(-459 -401)" />
            </symbol>
            
            <symbol id="cursor-frame" viewBox="0 0 40 40">
                <g class="hand-inner" stroke="#000" stroke-linecap="round" stroke-width="2">
                <path fill="#fff" d="M33.3 37.8H15L6.1 26.4s-3.8-4.2-1-7c3-3 5.3 0 5.3 0l2 2V5.7C12.4 4.3 13.6 2 16 2c2.7 0 3.5 2 3.5 4v12c.2-1.8 0-5.2 3.5-5.2 3 0 3 3.4 3 5 .2-1.4 0-4.2 3.1-4.2 2.3 0 2.3 4.3 2.3 4.3s.2-2.7 2.8-2.7c2.7 0 3 2.7 3 2.7v8l-3.7 12z"/>
                <path d="M19.2 22.8v8M24.2 22.8v8M29.2 22.8v8"/>
                </g>
            </symbol>

            <symbol id="cursor-click" viewBox="0 0 40 40" class="shadow"> 
                <g class="plick"> <!-- sprite animation by transition -->
                <use href="#cursor-frame" />
                <use href="#cursor-frame" transform="translate(44 5) scale(0.8)"/>
                <path stroke="#000" d="M56.1 3V0M47.7 8.4h-3.4M63.6 8h4M62 4.2L64.2 2M49.8 4.8l-2.1-2.1"/>
                <use href="#cursor-frame" transform="translate(82 2.5) scale(0.9)"/>
                <use href="#cursor-frame" transform="translate(120 0)"/>
                </g>
            </symbol>

        
        <symbol id="topbar" fill="none" viewBox="0 0 1138 47">
            <path fill="#000" d="M0 0h1138v47H0V0z"/>
            <g class="topbar-tools" fill="#fff" >
                <text id="title" font-family="Roboto" font-size="16" >
                <tspan x="29" y="29.8">JavaScript: Novice to Ninja, 2nd Edition</tspan>
                </text>
            
                <text font-family="Roboto" font-size="14" >
                <tspan x="1034" y="30">Dashboard</tspan>
                <tspan x="932.6" y="30">Library</tspan>
                </text>

                <g id="library-icon">
                <rect width="3" height="12" x="901" y="19"/>
                <path d="M909 19.5l4-.7 2 11.5-4 .7-2-11.5z"/>
                <rect width="4" height="15" x="905" y="16"/>
                </g>
                <g id="text-size">
                <rect width="1.8" height="6.2" x="866.2" y="28" transform="rotate(90 866.2 28)"/>
                <path  d="M864 19h-1.8v2.2H860v1.7h2.2v2.2h1.8V23h2.2v-1.7H864V19z"/>
                <path id="a"  d="M853.4 28.2h-4l-1 3.8H845l4.3-14h4.3l4.2 14h-3.3l-1.1-3.8zm-3.6-2.2h3.1l-1.2-4.4-.4-1.3-.3 1.3-1.2 4.4z"/>
                </g>
                <path id="darkmode" fill-rule="evenodd" d="M802.5 31a7.5 7.5 0 100-15 7.5 7.5 0 000 15zm0-1.5h-.2v-12a6.1 6.1 0 016.2 6 6 6 0 01-6 6z" clip-rule="evenodd"/>
                <path id="settings"  transform="translate(0, -2)" d="M1008.4 31.5h-3.4v1.2h3.4v-1.2zm3.5-1.3h-2.5c-.4 0-.6.3-.6.6v2.6c0 .3.2.6.6.6h2.5c.3 0 .6-.3.6-.6v-2.6c0-.3-.3-.6-.6-.6zm1.5-3.8h-8.4v1.2h8.4v-1.2zm-6.2-5.1h-2.2v1.2h2.2v-1.2zm12.8 10.2h-7.2v1.2h7.2v-1.2zm-9.4-11.5h-2.5c-.3 0-.6.3-.6.6v2.6c0 .3.3.6.6.6h2.5c.4 0 .6-.3.6-.6v-2.6c0-.3-.2-.6-.6-.6zm6.3 5h-2.5c-.4 0-.6.4-.6.7v2.6c0 .3.2.6.6.6h2.5c.3 0 .6-.3.6-.6v-2.6c0-.3-.3-.6-.6-.6zm3.1 1.4h-2.2v1.2h2.2v-1.2zm0-5.1h-8.4v1.2h8.4v-1.2z"/>
            </g>
        </symbol>
        
        <symbol id="bookmark-widget" viewBox="0 0 140 50" class="shadow">   
            <rect width="140" height="40" fill="#222" rx="20"/>
            <rect width="13" height="13" x="70.2" y="31" fill="#222" transform="rotate(45 70.2 31)"/>
            <line x1="69.5" x2="69.5" y1="6" y2="37" stroke="#0D0D0D"/>
            <line x1="70.5" x2="70.5" y1="6" y2="37" stroke="#3A3A3A"/>
            <g fill="#fff" style="white-space:pre" xml:space="preserve">
            <text font-family="Roboto" font-size="10" >
                <tspan x="15" y="34.4">Bookmark</tspan>
                <tspan x="76" y="34.4">Send a Link</tspan>
            </text>
            <path d="M43 8H32v15l6-2.5 5 2.5V8z"/>
            <use href="#link-icon" width="40" height="25" x="90" y="0"/>
            </g>
        </symbol>
        
        <symbol id="link-icon" viewbox="0 0 25 25" >
            <g transform="rotate(-45 12 12)">
                <rect width="6" height="6" x="0" y="1" fill="none" stroke="#fff" stroke-width="2" rx="2" />
                <rect fill="#fff" width="2" height="8" x="2" y="4"  />
                <rect width="6" height="6" x="0" y="10" fill="none" stroke="#fff" stroke-width="2" rx="2" />
            </g>
        </symbol>
        
        <symbol id="keyboard-base">
            <g class="keyboard">
                <rect width="938" height="11" y="565" fill="url(#upperbase)"/>
                <path fill="#C4C4C4" d="M0 575h938c0 6-5 11-11 11H11c-6 0-11-5-11-11z"/>
                <g>
                    <path fill="#e9e9e9" d="M389.8 564.4l159.8.1a14 14 0 01-14 14h-132a14 14 0 01-14-14z" />
                    <path fill="url(#cutout-1)" d="M389.5 565h159.8a14 14 0 01-14 14h-132a14 14 0 01-14-14z" />
                    <path fill="url(#cutout-2)" d="M389.5 565l160-.7a14 14 0 01-14 14h-132a14 14 0 01-14-14z" />
                </g>
            <g class="keys" fill="#aaa">
                <rect width="41" height="4" x="42" y="561" />
                <rect width="41" height="4" x="90" y="561" />
                <rect width="41" height="4" x="138" y="561" />
                <rect width="41" height="4" x="186" y="561" />
                <rect width="41" height="4" x="234" y="561" />
                <rect width="373" height="4" x="282" y="561" />
                <rect width="41" height="4" x="666" y="561" />
                <rect width="41" height="4" x="714" y="561" />
                <rect width="41" height="4" x="762" y="561" />
                <rect width="41" height="4" x="810" y="561" />
                <rect width="41" height="4" x="858" y="561" />
            </g>     
            </g>
        </symbol>
        
        <symbol id="note-1" viewbox="0 0 275 110" class="shadow note">  
            <rect x="4" width="275" height="110" fill="#FFE794"/>
            <polygon points="205,-120 200,10 160,10" style="fill:#FFE794;" />
            <g class="numberlist">
                <circle cx="36" cy="32" r="8" fill="orangered"/>
                <text fill="#fff" font-size="13" font-weight="500" x="32" y="36.5">1</text>
            </g>
            <text fill="black" font-size="18"><tspan x="50" y="38.6">Write and edit code in a</tspan><tspan x="34" dy="1.25em">live coding environment  </tspan><tspan x="34" dy="1.25em">without leaving your book.</tspan></text>
        </symbol>
        
        <symbol id="note-2" viewbox="0 0 275 110" class="shadow note">  
            <rect x="4" width="275" height="110" fill="#FFE794"/>
            <polygon points="40, 100 30,170 80,100" style="fill:#ffE794;" />
            <g class="numberlist">
                <circle cx="36" cy="32" r="8" fill="orangered"/>
                <text fill="#fff" font-size="13" font-weight="500" x="32" y="36.5">2</text>
            </g>
            <text fill="black" font-size="18"><tspan x="50 " y="38.6">Bookmark your favorite </tspan><tspan x="34" y="59.6">text and code samples for </tspan><tspan x="34" y="80.6">later reference.</tspan></text>
        </symbol>
        
        <symbol id="note-3" viewbox="-70 0 365 110" class="shadow note">  
            <rect x="4" width="295" height="110" fill="#FFE794"/>
            <polygon points="-50,50 10,65 10,35" fill="#FFE794" />
            <g class="numberlist">
                <circle cx="36" cy="32" r="8" fill="orangered"/>
                <text fill="#fff" font-size="13" font-weight="500" x="32" y="36.5">3</text>
            </g>
            <text fill="black" font-size="18"><tspan x="50" y="38.6">Easily share text and code  </tspan><tspan x="34" y="59.6">samples with friends - even </tspan><tspan x="34" y="80.6">if they don’t have the book.</tspan></text>
        </symbol>
        
        <symbol id="note-4">  
            <rect x="4" width="275" height="110" fill="#FFE794"/>
            <text fill="black" font-size="18"><tspan x="34" y="38.6">Bookmark your favorite </tspan><tspan x="34" y="59.6">text and code samples for </tspan><tspan x="34" y="80.6">later reference.</tspan></text>
        </symbol>    
        
        <symbol id="code-panel" viewBox="0 0 761 710" class="shadow">
            <g id="coder" clip-path="url(#clip0)">
                <rect id="work-panel-base" width="486" height="711" x="275" y="0" fill="#252E32"/>
            <g id="dir-panel-base">
                <rect width="9" height="711" x="31" fill="#38464C"/>
                <rect width="4" height="711" fill="#1F282C" x="40" />
                <rect width="40" height="711" x="42" y="0" fill="#283134"/>
                <text fill="#2A95D0" font-family="Roboto" font-size="16" >
                    <tspan x="50" y="28">&lt;/&gt;</tspan>
                </text>
                <rect width="2" height="33" x="80" y="8" fill="#2A95D0"/>
                <g id="dir-tools" transform="translate(0,-50)">
                    <path id="share" stroke="#CFD1D1" d="M62.4 588.2l-2.7 1.8m-.3 2.4l2.9 2.5M60 591a2 2 0 01-2 2 2 2 0 01-2-2c0-1.1.9-2 2-2a2 2 0 012 2zm6-4a2 2 0 01-2 2 2 2 0 01-2-2c0-1.1.9-2 2-2a2 2 0 012 2zm0 9a2 2 0 01-2 2 2 2 0 01-2-2c0-1.1.9-2 2-2a2 2 0 012 2z"/>
                    <g id="settings" stroke="#CFD1D1">
                    <path d="M59.7 690.5v2.3c.5.1 2.7.1 3.2 0v-2.3l1.2-.6L66 691a10 10 0 001.7-2.5l-2.1-1.2v-1.2l2.1-1.2a10 10 0 00-1.7-2.5l-1.9 1-1.2-.6v-2.3c-.5-.1-2.7-.1-3.2 0v2.3l-1.1.6-2.1-1c-.4.3-1.4 2.1-1.5 2.5l2 1.2v1.2l-2 1.2c.1.4 1.1 2.2 1.5 2.5l2.1-1.1 1.1.6z" style="stroke-width:.75px"/>
                    <path d="M63.1 686.8c0 1-.8 1.8-1.9 1.8-1 0-1.8-.8-1.8-1.8 0-1.1.8-1.9 1.8-1.9 1.1 0 1.9.8 1.9 1.9z" style="stroke-width:.75px"/>
                    </g>
                    <g id="help">
                    <circle cx="61.5" cy="642" r="7.4" style="stroke:#cfd1d1"/>
                    <path d="M59.4 639.9c0-.7.9-1.6 2.4-1.6 1.4 0 2.1.9 2.1 1.6 0 1-1 1.1-1.6 1.6-.4.4-.8 1.1-.7 2.4" style="stroke:#cfd1d1;stroke-linecap:round"/>
                    <circle cx="61.6" cy="645.7" r=".7" style="fill:#d8d8d8"/>
                    </g>
                </g>
                <rect width="193" height="711" fill="#38464C" x="82"/>
                <g id="file-directory">
                    <text id="FILETREE" fill="#E5E5E5" font-size="13" font-weight="900">
                        <tspan x="90" y="21.9">FILETREE</tspan>
                    </text>
                    <g id="workspace">
                        <text id="workspace" fill="#E5E5E5" font-size="13" font-weight="500">
                            <tspan x="109" y="48.9">~/workspace</tspan>
                        </text>
                    </g>
                    <g id="heroes">
                        <text id="heroes_2" fill="#E5E5E5" font-size="13" font-weight="500">
                            <tspan x="128" y="71.9">heroes</tspan>
                        </text>
                        <use width="15" height="12" transform="translate(108.6 60.6)" href="#folder-closed" />
                    </g>
                    <g id="notes">
                        <text fill="#E5E5E5" font-size="13" font-weight="500">
                            <tspan x="129" y="116.9">notes.txt</tspan>
                        </text>
                            <path stroke="#E5E5E5"
                                d="M118 105.5v4.5h4.5v11.5h-12v-16h7.5zm-4 7h5-5zm0 2.5h5-5zm0 2.5h5-5z" />
                            <line x1="118.1" x2="122.6" y1="105.4" y2="109.9" style="stroke:#e5e5e5" />
                    </g>
                    <g id="quiz">
                        <text id="quiz_2" fill="#E5E5E5" font-size="13" font-weight="500">
                            <tspan x="129" y="94.9">quiz</tspan>
                        </text>
                        <use width="15" height="12" transform="translate(109.2 83.6)" href="#folder-closed" />
                    </g>
                    <use width="17.1" height="12" transform="translate(410.6 270.5)" href="#folder-open" />
                </g>
            
                <g id="sidetab" style="cursor:pointer">
                    <path id="sidetab_2" fill="#283134" d="M0 70a10 10 0 0110-10h21v172H10a10 10 0 01-10-10V70z" />
                    <text id="&lt;/&gt;_2" fill="#2A95D0" font-size="16" font-weight="bold">
                        <tspan x="4" y="96">&lt;/&gt;</tspan>
                    </text>
                    <text fill="#2A95D0" font-size="15" font-weight="500" letter-spacing="0em"
                        style="white-space:pre" transform="rotate(-90 99 92)">
                        <tspan x="0" y="14.1">LIVE CODE</tspan>
                    </text>
                </g>
                        
                <use width="17.1" height="12" transform="translate(88.9 38.5)" href="#folder-open" />
            </g>
            <g id="code-window">
                <rect id="codebase" width="486" height="430" fill="#2B3336" transform="matrix(1 0 0 -1 275 431)" />
                <text style="font-size:15px; fill:#d1d2d3;font-weight:500;white-space:pre">
                    <tspan x="305" y="55.3"> window.</tspan><tspan style="fill:url(#color-2)">onload</tspan><tspan style="fill:url(#color-3)">=</tspan><tspan style="fill:url(#color-4)">function</tspan><tspan>() { </tspan>
                    <tspan x="325" y="76.3"> </tspan><tspan style="fill:url(#color-2)">setTimeout</tspan><tspan>(() </tspan><tspan style="fill:url(#color-4)">=&gt;</tspan><tspan> { </tspan>
                    <tspan x="335" y="97.3"> </tspan><tspan style="fill:url(#color-4)">const</tspan><tspan> quiz </tspan><tspan style="fill:url(#color-3)">=</tspan><tspan> [ </tspan>
                    <tspan x="365" y="118.3"> { name: </tspan><tspan style="fill:url(#color-1)">&quot;Superman&quot;</tspan><tspan>,realName: </tspan><tspan style="fill:url(#color-1)">&quot;Clark Kent&quot;</tspan><tspan> }, </tspan>
                    <tspan x="365" y="139.3"> { name: </tspan><tspan style="fill:#86cd95">&quot;Wonder Woman&quot;</tspan><tspan>,realName: </tspan><tspan style="fill:url(#color-1)">&quot;Diana Prince&quot;</tspan><tspan> }, </tspan>
                    <tspan x="365" y="160.3"> { name: </tspan><tspan style="fill:url(#color-1)">&quot;Batman&quot;</tspan><tspan>,realName: </tspan><tspan style="fill:url(#color-1)">&quot;Bruce Wayne&quot;</tspan><tspan> }, </tspan><tspan x="305" y="181.3"> ]; </tspan>
                    <tspan x="305" y="202.3"> </tspan>
                    <tspan x="315" y="223.3"> </tspan><tspan style="fill:url(#color-4)">const</tspan><tspan> game </tspan><tspan style="fill:url(#color-3)">=</tspan><tspan> { </tspan>
                    <tspan x="335" y="244.3"> </tspan><tspan style="fill:url(#color-2)">start</tspan><tspan>(</tspan><tspan style="fill:url(#color-3)">quiz</tspan><tspan>){ </tspan>
                    <tspan x="365" y="265.3"> </tspan><tspan style="fill:url(#color-4)">this</tspan><tspan>.questions </tspan><tspan style="fill:url(#color-3)">=</tspan><tspan> [</tspan><tspan style="fill:url(#color-3)">...</tspan><tspan>quiz]; </tspan>
                    <tspan x="365" y="286.3"> </tspan><tspan style="fill:url(#color-4)">this</tspan><tspan>.score </tspan><tspan style="fill:url(#color-3)">=</tspan><tspan style="fill:url(#color-2)"> 0</tspan><tspan>; </tspan>
                    <tspan x="365" y="307.3"> </tspan><tspan style="fill:url(#color-5)">// main game loop</tspan>
                    <tspan x="365" y="328.3"> </tspan><tspan style="fill:url(#color-4)">for</tspan><tspan>(</tspan><tspan style="fill:url(#color-4)">const</tspan><tspan> question </tspan><tspan style="fill:url(#color-3)">of</tspan><tspan> </tspan><tspan style="fill:url(#color-4)">this</tspan><tspan>.questions){ </tspan>
                    <tspan x="365" y="349.3"> </tspan><tspan style="fill:url(#color-4)">this</tspan><tspan>.question </tspan><tspan style="fill:url(#color-3)">=</tspan><tspan> question;</tspan>
                </text>
                <g id="line-numbers">
                    <rect width="27" height="350" x="275" y="41" style="fill:#232c2e" />
                    <text style="fill:#c4c4c4;font-size:16px;font-weight:500;white-space:pre">
                        <tspan x="289.4" y="55.7">1</tspan>
                        <tspan x="289.4" y="76.7">2</tspan>
                        <tspan x="289.4" y="97.7">3</tspan>
                        <tspan x="289.4" y="118.7">4</tspan>
                        <tspan x="289.4" y="139.7">5</tspan>
                        <tspan x="289.4" y="160.7">6</tspan>
                        <tspan x="289.4" y="181.7">7</tspan>
                        <tspan x="289.4" y="202.7">8</tspan>
                        <tspan x="289.4" y="223.7">9</tspan>
                        <tspan x="279.8" y="244.7">10</tspan>
                        <tspan x="279.8" y="265.7">11</tspan>
                        <tspan x="279.8" y="286.7">12</tspan>
                        <tspan x="279.8" y="307.7">13</tspan>
                        <tspan x="279.8" y="328.7">14</tspan>
                        <tspan x="279.8" y="349.7">15</tspan>
                    </text>
                </g>
            </g>
                    <g id="code-tabs">
                        <g id="tab-4-active">
                            <path  fill="#313E44"
                                d="M626 5a5 5 0 00-5 5v25H275v5h486v-5h-41V10a5 5 0 00-5-5h-89z" />
                            <text id="main" fill="#E5E5E5" font-size="14" font-weight="bold">
                                <tspan x="628" y="24.8">main.js</tspan>
                            </text>
                            <use width="7.6" height="7.6" transform="matrix(.89533 0 0 .89533 696.5 16.7)" href="#close" />
                        </g>
                        <g id="tab-3">
                            <text fill="#E5E5E5" font-size="14" font-weight="bold">
                                <tspan x="524" y="24.8">styles.css</tspan>
                            </text>
                            <use width="7.6" height="7.6" transform="translate(604.4 16.9)" href="#close" />
                        </g>
                        <g id="tab-2">
                            <use width="7.6" height="7.6" transform="translate(495.9 16.7)" href="#close" />
                            <rect  width="1" height="18" x="516" y="11" fill="#C4C4C4" class="breaker" />
                            <text fill="#E5E5E5" font-size="14" font-weight="bold">
                                <tspan x="422" y="24.8">heroes.h..</tspan>
                            </text>
                        </g>
                        <g id="tab-1">
                            <use width="7.6" height="7.6" transform="translate(391.2 15.9)" href="#close" />
                            <rect width="1" height="18" x="413" y="11" fill="#C4C4C4" class="breaker" />
                            <text fill="#E5E5E5" font-size="14" font-weight="bold">
                                <tspan x="319" y="24.8">notes.txt</tspan>
                            </text>
                        </g>
                        <g id="folder">
                            <path id="thumbtab" fill="#334248" d="M274 5h15a13 13 0 0113 13v1a13 13 0 01-13 13h-15V5z" />
                            <use width="13" height="13" transform="matrix(1 0 0 1 734.2 13.8)" href="#new-item" />
                            <use width="17.1" height="12" transform="translate(279.3 13.5)" href="#folder-open" />
                        </g>
                        <rect width="1" height="18" x="310" y="11" fill="#C4C4C4" class="breaker" />
                    </g>
                    <g id="browser">
                        <g id="browser-window">
                            <rect width="486" height="279" x="275" y="431" fill="#fff" />
                            <g fill="#ddd">
                                <rect width="486" height="45" x="275" y="431"  />
                            </g>
                            <rect class="address-bar" width="411" height="30" x="312.5" y="437.5" fill="#fff"
                                stroke="#C4C4C4" />
                            <text fill="#889198" font-size="15" font-weight="500">
                                <tspan x="429" y="457.1">Open an HTML file to view</tspan>
                            </text>
                            <path class="reload" stroke="#889198"
                                d="M295.4 450.6h4.6m0 0a6.2 6.2 0 00-6-4.6 6 6 0 104 10.5m2-5.9V446"
                                style="stroke-width:1.25px" />
                            <path class="expand" stroke="#889198"
                                d="M748 453.5v4.5c0 .6-.4 1-1 1h-9a1 1 0 01-1-1v-9c0-.6.4-1 1-1h4.5m-2.5 7l9-9m0 0v4m0-4h-4" />
                        </g>
                    <g id="browser-tab">
                            <use width="13" height="13" transform="matrix(.89533 0 0 .89533 459.8 406)" href="#new-item" />
                            <path fill="#324046" d="M281 397a2 2 0 00-2 2v28h-4v4h486v-4H445v-28a2 2 0 00-2-2H281z" />
                            <text fill="#E5E5E5" font-size="14" font-weight="bold">
                                <tspan x="308" y="416">Web Browser</tspan>
                            </text>
                        <use href="#globe-icon" stroke="#E5E5E5" width="16" x="285" y="56" />
                            
                            <use width="7.6" height="7.6" transform="translate(423.5 409)" href="#close" />
                        </g>
                    </g>
                    <g id="code-tools">
                        <rect width="488" height="36" x="273" y="355" fill="#334248" />
                        <g id="edit" fill="#2A95D0">
                            <path d="M298.4 365.7a1 1 0 00-1.4 0l-1.4 1.4 3.5 3.6 1.5-1.5c.3-.3.3-1 0-1.4l-2.2-2z" />
                            <path fill-rule="evenodd"
                                d="M294.9 367.8l3.5 3.6-7.1 7.1a1 1 0 01-.7.3h-2.1a1 1 0 01-1-1v-2.1c0-.3 0-.6.3-.7l7.1-7.2zm-6.4 7.8h.7v1.4h1.5v.7h-2.2v-2z" clip-rule="evenodd" />
                        </g>
                        <g id="bin" fill="#FF5960">
                            <path
                                d="M327 366h4l1 1h3v1h-12v-1h3l1-1zM334 369h-10l.5 9c0 .6.4 1 1 1h7c.6 0 1-.4 1-1l.5-9z" />
                        </g>
                        <g class="dl">
                            <path fill="#C4C4C4" fill-rule="evenodd"
                                d="M362 366.4c0-.2.2-.4.4-.4h2.2c.2 0 .4.2.4.4v4.6h2c.4 0 .6.5.3.7l-3.5 3.9c-.1.2-.5.2-.6 0l-3.5-3.9c-.3-.2-.1-.7.3-.7h2v-4.6zm-4 8.6h4l1.2 1.3c.1.2.5.2.6 0l1.2-1.3h4c.6 0 1 .4 1 1v2c0 .6-.4 1-1 1h-11c-.6 0-1-.4-1-1v-2c0-.6.4-1 1-1zm8 2h1v1h-1v-1zm3 0h-1v1h1v-1z" clip-rule="evenodd" />
                        </g>
                        <g id="tool-handle">
                            <rect width="6" height="30" x="271.5" y="342.5" fill="#324147" stroke="#243239" rx="1.5" />
                            <path stroke="#E5E5E5" d="M273.5 350v15" />
                            <path stroke="#E5E5E5" d="M275.5 350v15" />
                        </g>
                    </g>
                </g>
            </symbol>
        
        <symbol id="share-panel" viewBox="0 0 499 239" fill="none" class="shadow">
            <rect width="499" height="239" rx="4" fill="#222222" />
                <use href="#link-icon" width="35" height="25" x="15" y="12" />
                <text fill="white" font-size="19" font-weight="500">
                <tspan x="41" y="35.5">Send as a link to this paragraph</tspan>
                </text>
                <use fill="#fff" width="15" height="15" x="462" y=" 16px" href="#close" />
                <line x1="3" y1="48.5" x2="499" y2="48.5" stroke="#444" />

                <use href="#globe-icon" stroke="#768996" width="16" x="16" y="-46" />
                <text fill="#768996" font-size="14">
                    <tspan x="41" y="78.8">Anybody with this link can view this part of the book.</tspan>
                </text>
            
                <rect x="15" y="105" width="469" height="78" fill="#323232" />
            
                <text fill="#009AF9" font-family="Roboto" font-size="15">
                    <tspan x="29" y="129.1">https://www.sitepoint.com/premium/books/learn-to-code-with-</tspan>
                    <tspan x="29" y="147.1">javascript/read/1/kml7wxl6?fromShare=true</tspan>
                </text>
            
            
                <line x1="316.5" y1="196" x2="316.5" y2="227" stroke="#444" />
                <g class="cta-blue">
                    <rect x="333" y="192" width="151" height="37" rx="18.5" fill="#009AF9" />
                    <text fill="white" font-family="Roboto" font-size="14" font-weight="bold">
                        <tspan x="378" y="214.8">Copy Link</tspan>
                    </text>
                </g>
            </symbol>
        
        
            <!-- / SYMBOLS -->
        
        </defs>



        <!-- / DEFS -->


        <!-- BODY STARTS HERE -->


        <g class="screen-back">
            <rect  width="875" height="575.4" x="31" y="2" fill="#000" stroke="url(#laptop-edge)" stroke-width="4" rx="23.4" ry="23.4" />
            <rect width="820" height="525" x="60" y="20" style="fill: rgb(255, 255, 255);" rx="3"/>
        </g>

        <!-- FOREIGNOBJECT -->


        <foreignObject x="0" y="20" width="880" height="525" clip-path="url(#screen-mask)" style="padding-left:20px;overflow-x: hidden; overflow-y: scroll; " >
        
            <div class="page-wrapper">

                <div id="chapter-container" class="body-text">
                    <div class="chapter-content">
                        <div style="overflow:hidden">
                            <div class="chapter-head-left">
                                <div class="h1-level">The Document Object <br> Model</div>
                                <div class="h3-level" style="color:#aaa;">Darren Jones</div>
                            </div>
                            <div class="chapter-head-right">Chapter
                                <span style="color:rgb(68,82,102);font-size:7rem; font-weight: 500; display: block; margin-top: 2rem">6</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-unit">
                        <div>The Document Object Model (DOM) allows
                            you to access elements of a web page and enable interaction with the page by adding and removing
                            elements, changing the order, content and attributes of elements, and even altering how they are styled.
                        </div>
                    </div>
                    <div class="p-unit">
                        <div>In this chapter, we’ll cover the following topics:</div>
                    </div>
                    <div class="p-unit">
                        <ul class="list-ul">
                            <li class="svg-li">
                                <div class="p-unit">Introduction to the DOM</div>
                            </li>
                            <li class="svg-li">
                                <div class="p-unit">Getting elements ―&nbsp;<code class="svg-code">getElementById</code>
                                    ,&nbsp;<code class="svg-code">getElementsByClassName</code> ,&nbsp;<code
                                        class="svg-code">getElementsByTagName</code> ,&nbsp;<code class="svg-code">querySelector</code>
                                    and&nbsp;<code class="svg-code">querySelectorAll</code> </div>
                            </li>
                            <li class="svg-li">
                                <div class="p-unit">Navigating the DOM</div>
                            </li>
                            <li class="svg-li">
                                <div class="p-unit">Getting and setting an element’s attributes</div>
                            </li>
                            <li class="svg-li">
                                <div class="p-unit">Updating the DOM by creating dynamic markup</div>
                            </li>
                            <li class="svg-li">
                                <div class="p-unit">Changing the CSS of an element</div>
                            </li>
                            <li class="svg-li">
                                <div class="p-unit">Our project ― we'll dynamically insert each question into the HTML</div>
                            </li>
                        </ul>
                    </div>
                    <div class="h2-level">
                        The Document Object Model
                    </div>

                    <div class="h3-level">
                        What is the DOM?
                    </div>

                    <div class="p-unit">
                        <div>The Document Object Model, or DOM for
                            short, represents an HTML document as a network of connected nodes that form a tree-like structure.
                        </div>

                    </div>
                    <div class="p-unit">
                        <div>The DOM treats everything on a web page
                            as a node. HTML tags, the text inside these tags, even the attributes of a tag are all nodes. The HTML
                            tag is the root node, and every other part of the document is a child node of this.</div>
                    </div>
                    <div class="p-unit">
                        <div>Take the following piece of HTML as an
                            example:</div>
                    </div>
                    <div class="p-unit">
                        <pre class="sc-fzXfNi prism-code language-js"
                            ><div class="token-line" ><span class="operator">&lt;</span><span class="plain">p </span><span class="keyword">class</span><span class="operator">=</span><span class="string">'warning'</span><span class="operator">&gt;</span><span class="plain">Something has gone </span><span class="operator">&lt;</span><span class="plain">em</span><span class="operator">&gt;</span><span class="plain">very</span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">em</span><span class="operator">&gt;</span><span class="plain"> wrong</span><span class="operator">!</span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">p</span><span class="operator">&gt;</span></div></pre>

                    </div>
                    <div class="p-unit">
                        <div>This can be represented as the tree
                            diagram shown below.</div>
                    </div>

                    <figure class="imagefig">
                        <div class="image-wrapper">
                            <svg width="267" height="400" viewBox="0 0 267 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="267" height="400" fill="white" />
                                <path
                                    d="M33.5 200.5C30.833 190.17 36 162 78 132C120 102 130 71.5 129.5 60M129.5 60C130.17 73.17 141.2 106 180 132C218.8 158 227.8 188.5 227.5 200.5M129.5 60V347.5"
                                    stroke="black" />
                                <text class="p-label">
                                    <tspan x="82.3" y="23">p.warning</tspan>
                                </text>
                                <text class="p-label">
                                    <tspan x="3.7" y="180">#text</tspan>
                                </text>
                                <text class="p-label">
                                    <tspan x="201.7" y="180">#text</tspan>
                                </text>
                                <text class="p-label">
                                    <tspan x="102.7" y="337">#text</tspan>
                                </text>
                                <text class="p-label">
                                    <tspan x="113.7" y="180">em</tspan>
                                </text>
                                <circle cx="129" cy="52" r="19.5" fill="#3A80B6" stroke="#33629E" stroke-width="3" />
                                <circle cx="129" cy="209" r="19.5" fill="#3A80B6" stroke="#33629E" stroke-width="3" />
                                <circle cx="228" cy="209" r="19.5" fill="#FFCE00" stroke="#FFA100" stroke-width="3" />
                                <circle cx="129" cy="366" r="19.5" fill="#FFCE00" stroke="#FFA100" stroke-width="3" />
                                <circle cx="30" cy="209" r="19.5" fill="#00BE56" stroke="#0AA234" stroke-width="3" />
                            </svg>
                        </div>
                        <figcaption>The DOM tree</figcaption>
                    </figure>
                    <div class="p-unit">
                        <div>The DOM is not actually part of
                            JavaScript because it is<em>language agnostic</em>(although JavaScript is, by far, the language most
                            commonly used with it). This means it can be used in any programming language, not just JavaScript. We
                            can use JavaScript to access and modify different parts of a web page using a special built-in object
                            called&nbsp;<code class="svg-code">document</code> .</div>
                    </div>
                    <div class="p-unit">
                        <div class="h2-level">History of the DOM</div>
                    </div>
                    <div class="p-unit ">
                        <div>In the early days of the web, browser
                            vendors such as Netscape and Microsoft developed their own distinct ways of accessing and altering parts
                            of a web page. In the beginning, they tended to focus on common page elements such as images, links and
                            forms – this was known as Dynamic HTML (DHTML). These methods became known as DOM level 0, or legacy
                            DOM. Some of the more common methods, such as those used for selecting images and forms, can still be
                            used in the current DOM.</div>
                    </div>
                    <div class="p-unit">
                        <div>The World Wide Web Consortium (W3C)
                            started to standardize the process, and created the DOM level 1 in 1998. This introduced a complete
                            model for web pages that allowed every part of them to be navigated.</div>
                    </div>
                    <div class="p-unit">
                        <div>The DOM level 2 specification was
                            published in 2000 and introduced the popular&nbsp;<code class="svg-code">getElementById()</code>
                            method, which made it much easier to access specific elements on a web page. The DOM level 3
                            specification was published in 2004, and since then the W3C has abandoned using levels. The DOM
                            specification is developed as a <span  color="link">living standard</span>.</div>
                    </div>
                    <div class="p-unit">
                        <div>Despite the standardization process,
                            browsers have not always implemented the DOM consistently, so it’s been difficult to program for in the
                            past. Fortunately, since Internet Explorer 8, DOM support has been much more consistent, and modern
                            browsers now implement the current DOM level 3. They’re also implementing more of the new DOM level 4
                            features with every update.</div>
                    </div>
                    <div class="p-unit">
                        <div class="h2-level">An Example Web Page</div>
                    </div>
                    <div class="p-unit bookmark-section-3">
                        <div>To illustrate the DOM concepts covered
                            in this chapter, we’ll use a basic web page that contains a heading and three paragraph elements. Save
                            the following code in a file called&nbsp;<code class="svg-code">heroes.html</code> :</div>
                    </div>

                        <pre class=" prism-code language-js"><div class="token-line" ><span class="operator">&lt;</span><span class="operator">!</span><span class="plain">doctype html</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="plain">html lang</span><span class="operator">=</span><span class="string">"en"</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="plain">head</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="plain">meta charset</span><span class="operator">=</span><span class="string">"utf-8"</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="plain">title</span><span class="operator">&gt;</span><span class="plain">Justice League</span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">title</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">head</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="plain">body</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="plain">header</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="plain">h1 id</span><span class="operator">=</span><span class="string">'title'</span><span class="operator">&gt;</span><span class="plain">Justice League</span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">h1</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">header</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="plain">ul id</span><span class="operator">=</span><span class="string">'roster'</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="plain">li </span><span class="keyword">class</span><span class="operator">=</span><span class="string">'hero'</span><span class="operator">&gt;</span><span class="plain">Superman</span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">li</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="plain">li </span><span class="keyword">class</span><span class="operator">=</span><span class="string">'vigilante hero'</span><span class="plain"> id</span><span class="operator">=</span><span class="string">'bats'</span><span class="operator">&gt;</span><span class="plain">Batman</span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">li</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="plain">li </span><span class="keyword">class</span><span class="operator">=</span><span class="string">'hero'</span><span class="operator">&gt;</span><span class="plain">Wonder Woman</span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">li</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain">    </span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">ul</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">body</span><span class="operator">&gt;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;</span><span class="operator">/</span><span class="plain">html</span><span class="operator">&gt;</span></div></pre>

                    <div class="p-unit">
                        <div>Below is a node tree diagram for the&nbsp;
                            <code class="svg-code">&lt;ul&gt;</code> element with a class of&nbsp;<code
                                    class="svg-code">roster</code> :</div>
                        </div>
                    
                        <div class="p-unit">
                            <div type="note" class="sc-AykKD sc-fzXfRb iRllY">
                                <div class="h4-level">What's With the Extra Text
                                    Nodes?</div>
                                <div class="p-unit">There appear to be some extra #text nodes in this
                                    diagram, even in places where there isn't any text. This is because the DOM also stores any
                                    whitespace that is in the HTML document as text nodes.</div>
                            </div>
                        </div>
                    <div class="p-unit bookmark-section-2">
                        <div>Because we're using the browser, the best way to follow along with the examples in this chapter is to use the console
                            built into the web browser (we discussed how to use this in Chapter 1). This will allow you to enter commands that interact
                            with the elements on the web page and see the results. The screenshot below shows the page with the console open.</div>
                    </div>


                    <div class="p-unit">
                        <div type="note" class="sc-AykKD sc-fzXfRb iRllY">
                            <div class="h4-level">Console Shortcuts</div>
                            <div class="p-unit">Here are a couple of useful shortcuts that will help speed things up when you're using the console:</div>
                            <ul class="list-ul">
                                <li class="svg-li">
                                    <div class="p-unit">Pressing TAB will autocomplete any methods and should show you a list of possible methods</div>
                                </li>
                                <li class="svg-li">
                                    <div class="p-unit">Pressing the UP arrow key will select the previous command entered.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-unit">
                        <div class="h2-level">Getting Elements</div>
                    </div>
                    <div class="p-unit">
                        <div>The DOM provides several methods that allow us to access any element on a page. These methods will return a node object
                            or a node list, which is an array-like object. These objects can then be assigned to a variable and be inspected or modified.
                        </div>
                    </div>
                    <div class="p-unit">
                        <div>For example, we can access the&nbsp;
                            <code class="svg-code">body</code> element of a web page and assign it to the
                                variable&nbsp;<code class="svg-code">body</code> by entering the following code into the browser
                                console:</div>
                        </div>
                    <div class="p-unit">
                        <pre class="sc-fzXfNi prism-code language-js"
                            ><div class="token-line" ><span class="keyword">const</span><span class="plain"> body </span><span class="operator">=</span><span class="plain"> document</span><span class="punctuation">.</span><span class="plain">body</span><span class="punctuation">;</span></div></pre>

                    </div>
                    <div class="p-unit">
                        <div>Now we have a reference to the body
                            element, we can check its type:</div>
                    </div>
                    <div class="p-unit">
                        <pre class="sc-fzXfNi prism-code language-js"
                            ><div class="token-line" ><span class="keyword">typeof</span><span class="plain"> body</span><span class="punctuation">;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;&lt;</span><span class="plain"> </span><span class="string">"object"</span><span class="punctuation">;</span></div></pre>

                    </div>
                    <div class="p-unit">
                        <div>This is a special&nbsp;<code class="svg-code">Node</code> object with a number of properties and methods
                            that we can use
                            to find information about, or modify, the&nbsp;<code class="svg-code">body</code> element.</div>

                    </div>
                    <div class="p-unit">
                        <div>For example, we can use the&nbsp;<code class="svg-code">nodeType</code> property to find out what type of
                            node it is:</div>
                    </div>
                    <div class="p-unit">
                        <pre class="sc-fzXfNi prism-code language-js"
                            ><div class="token-line" ><span class="plain">body</span><span class="punctuation">.</span><span class="plain">nodeType</span><span class="punctuation">;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;&lt;</span><span class="plain"> </span><span class="number">1</span></div></pre>

                    </div>
                    <div class="p-unit">
                        <div>All nodes have a numerical code to
                            signify what type they are. These are summmarized in the table below.</div>
                    </div>
                    <div class="sc-AykKD sc-fzXfNj cxdGoc">
                        <div style="overflow: auto;">
                            <table class="sc-fzXfLR hvYwyO">
                                <thead>
                                    <tr>
                                        <th >Code</th>
                                        <th >Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td  >1</td>
                                        <td  >element</td>
                                    </tr>
                                    <tr>
                                        <td  >2</td>
                                        <td  >attribute</td>
                                    </tr>
                                    <tr>
                                        <td  >3</td>
                                        <td  >text</td>
                                    </tr>
                                    <tr>
                                        <td  >8</td>
                                        <td  >comment</td>
                                    </tr>
                                    <tr>
                                        <td  >9</td>
                                        <td  >body</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="p-unit">
                        <div>There are other types not covered in
                            the table, but these aren’t used in HTML documents. As we can see from the table, a code of&nbsp;<code
                                class="svg-code">1</code> confirms that&nbsp;<code class="svg-code">body</code> is an
                            element node.</div>
                    </div>
                    <div class="p-unit">
                        <div>We can also use the&nbsp;<code class="svg-code">nodeName</code> property to find the name of the element:
                        </div>
                    </div>
                    <div class="p-unit">
                        <pre class="sc-fzXfNi prism-code language-js"
                            ><div class="token-line" ><span class="plain">body</span><span class="punctuation">.</span><span class="plain">nodeName</span><span class="punctuation">;</span><span class="plain"></span></div><div class="token-line" ><span class="plain"></span><span class="operator">&lt;&lt;</span><span class="plain"> </span><span class="string">"BODY"</span></div></pre>

                    </div>
                    <div class="p-unit">
                        <div>Note that the element name is returned in uppercase letters.</div>
                    </div>
                    <div class="p-unit">
                        <div>This is a live reference to what is
                            displayed in the browser. You can see this by hovering your cursor over the reference in the console and
                            see it highlighted in the main viewport, as illustrated in the screenshot below:</div>
                    </div>



                    <div style="text-align: right; font-weight: 500"><a href="/premium/books/javascript-novice-to-ninja-2nd-edition/read/7"><span
                                style="color:#2A95D0">NEXT:</span><span  
                                style="color:#2A95D0">Events ></span></a>
                    </div>
                </div>

            </div>

        </foreignObject>

        <use href="#topbar" width="820" x="60" y="-262" />
        <!-- DEMO STAGES  -->

        <g class="stage-1"  clip-path="url(#screen-mask)">
            <use class="arrive-2" id="code-panel-pos" href="#code-panel"  />
            <use href="#note-1" width="275" x="380" y="170" class="reveal arrive-3"/>
            <circle class="kaboom reveal arrive-4" cx="700" cy="180" r="10" fill="none" stroke-width="0px" stroke="#2D9CDB"  /> 
        </g>

        <g class="stage-2" clip-path="url(#screen-mask)">
            <use class="reveal arrive-2" href="#bookmark-widget" width="150" x="250" y="70" />
            <use href="#note-2" width="275" x="450" y="0" class="reveal arrive-3"/>
            <circle class="kaboom reveal arrive-4" cx="290" cy="355" r="10" fill="none" stroke-width="0px" stroke="#2D9CDB"  />
        </g>

        <g class="stage-3" clip-path="url(#screen-mask)">
            <rect class="reveal arrive-2" width="910" height="550" fill="black" fill-opacity="0.5"/>
            <use class="reveal arrive-2" href="#bookmark-widget" width="160" x="250" y="-180"></use>
            <use class="reveal arrive-3" href="#share-panel" width="500" x="200" y="0" />
            <use href="#note-3" width="345" x="400" y="-183"  class="reveal arrive-4"/>
            <circle class="kaboom reveal arrive-4" cx="370" cy="100" r="10" fill="none" stroke-width="0px" stroke="#2D9CDB"  />
        </g>


        <g class="stage-4" clip-path="url(#screen-mask)">
            <use href="#note-3" x="400" y="400" class="reveal arrive-4"/>
        </g>



        <!-- CURSOR  -->
        <use href="#cursor-click" class="cursor cursor-click" width="30" x="400"/>
        
        
        <!-- ONSCREEN TOUCH ZONES  --> 
        <rect class="reset" id="reset" width="820" height="500" fill="red" fill-opacity="0" x="60" y="50"/>

        <rect class="touchzone" id="live-code-tab" width="40" height="150" fill="red" fill-opacity="0" x="840" y="90"/>
        <rect class="reset" id="live-code-tab-open" width="35" height="140" fill="red" fill-opacity="0" x="320" y="90"/>

        

        <!-- Keyboard and base  --> 
        <g class="foreground">     
            <use href="#keyboard-base" />
        </g>
        
        
    </svg>